@import "descriptions";

.lk-aside {
  .f-column();
  .full-width-tablet();
  color: @text-tertiary;
  position: relative;
  padding-inline: @offset12;
  background-color: @black;

  @media @tablet {
    position: sticky;
    top: 0;
    z-index: @z-index-sticky;
    padding-inline: @offset16;
  }

  &__topline {
    position: sticky;
    top: 0;
    z-index: 1;

    &.mobile {
      @media @tablet {
        height: 100dvh;
      }
    }
  }

  &__topline-links {
  }

  &__bottom {
    display: inline-flex;
    align-items: center;
    align-self: flex-start;
    gap: @offset8;
    position: sticky;
    bottom: 0;
    z-index: 1;
    margin-top: auto;
    transform: translateY(-24px);

    @media @tablet {
      display: none;
    }

    .lk-topline.mobile + & {
      @media @tablet {
        display: flex;
        margin-inline: auto;
      }
    }
  }
}

