@import "descriptions";

.lk-topline {
  &__title {
    position: sticky;
    top: 29px;
    margin-block: 29px @offset24;

    @media @tablet {
      .f-between();
      position: relative;
      top: auto;
      margin-block: 0;
      height: 56px;
    }
  }

  &__title-logo {
  }

  &__title-logo-img {
    .width-height(214, 31);

    @media @tablet {
      .width-height(159, 24);
    }
  }

  &__title-open-btn {
    display: none;

    &:active {
      background-color: @bg-secondary;
    }

    @media @tablet {
      .h6();
      .circle(40);
      .f-center();
      background-color: @bg-secondary;
      color: @text-brand;
    }

    .lk-topline.mobile & {
      @media @tablet {
        .radius(0);
        background-color: transparent;
        font-size: 0;
        position: relative;

        &::before {
          .absY-alignment();
          .radius(2);
          background-color: @white;;
          rotate: 45deg;
          content: "";
          right: 7px;
          width: 17px;
          height: 2px;
        }

        &::after {
          .absY-alignment();
          .radius(2);
          background-color: @white;
          transform-origin: top;
          rotate: -135deg;
          content: "";
          right: 13px;
          width: 2px;
          height: 17px;
        }

        &:hover {
          opacity: 0.7;
        }
      }
    }
  }

  &__links {
    .f-column();

    @media @tablet {
      display: none;
    }

    .lk-topline.mobile & {
      display: flex;
    }
  }

  &__link {
    .h9();
    display: inline-flex;
    align-self: flex-start;
    align-items: center;
    gap: @offset8;
    padding-block: 3px;
    margin-bottom: @offset8;

    @media @tablet {
      padding-block: @offset16;
      margin-bottom: 0;
    }

    &--offset {
      padding-left: @offset24;
      margin-bottom: @offset16;

      @media @tablet {
        padding-left: 0;
        margin-bottom: 0;
      }
    }

    svg {
      flex: none;
      margin-top: -3px;
    }

    &.active {
      color: @white;
      pointer-events: none;
    }
  }
}
