@import "descriptions";

.lk-topline {
  &__title {
    position: sticky;
    top: 29px;
    margin-block: 29px @offset24;

    @media @tablet {
      .f-between();
      position: relative;
      top: auto;
      margin-block: 0;
    }
  }

  &__title-logo {
  }

  &__title-logo-img {
    .width-height(214, 31);

    @media @tablet {
      .width-height(159, 24);
    }
  }

  &__title-open-btn {
    display: none;

    @media @tablet {
      .h6();
      .circle(40);
      .f-center();
      background-color: @bg-secondary;
      color: @text-brand;
    }
  }

  &__links {
    .f-column();

    @media @tablet {
      display: none;
    }
  }

  &__link {
    .h9();
    display: inline-flex;
    align-self: flex-start;
    align-items: center;
    gap: @offset8;
    padding-block: 3px;
    margin-bottom: @offset8;

    &--offset {
      padding-left: @offset24;
      margin-bottom: @offset16;
    }

    svg {
      flex: none;
      margin-top: -3px;
    }

    &.active {
      color: @white;
      pointer-events: none;
    }
  }
}
