@import "descriptions";

.lk {
  flex: 1;
  display: grid;
  grid-template-columns: 238px 1fr;
  gap: 24px;
  height: 100%;

  @media @tablet {
    .f-column(24);
  }

  &--info-detail {
    @media @tablet {
      gap: 0;
    }
  }
}