@import "descriptions";

.reports {
  &__filters {
    margin-bottom: @offset40;
  }

  &__filters-input-box {
  }

  &__filters-select {
    &--year {
      max-width: 346px;
    }
  }

  &__shell {
  }

  &__items {
    .f-column(12);
  }

  &__item {
  }

  &__no-result {
    display: none;
  }

  &__no-result-subtitle {
  }
}

