@import "descriptions";

.catalog-results {
  &__title {
    display: flex;
    align-items: center;
    gap: @offset16;
    margin-bottom: @offset40;
  }

  &__count {
    .Inter();
    .p1(600);
    .f-center();
    .radius(11);
    background-color: @bg-hover;
    color: @white;
    min-width: 22px;
    margin-top: -2px;
    padding-inline: 4px;
  }

  &__items {
    .f-column(12);
    margin-bottom: @offset40;

    &.no-result {
      height: 300px;
    }
  }

  &__item {
    .transition(background-color);
    border: 1px solid @border-primary;
    display: flex;
    gap: @offset32;
    position: relative;
    padding: @offset16;

    @media @xxl-tablet {
      gap: @offset6;
      padding: @offset12;
    }

    @media @s-tablet {
      align-items: flex-start;
      flex-direction: column;
    }

    &:hover {
      background-color: @blue-15;
    }

    &[data-condition="del"] {
      background-color: @bg-active-secondary;

      &:hover {
        background-color: @blue-200;
      }
    }

    &.download {
      .smooth-show(flex, @t: .32s);
    }
  }

  &__item-body {
    flex: 1;

    @media @s-tablet {
      width: 100%;
    }
  }

  &__item-name {
    .h6();
    margin-bottom: @offset12;

    @media @xxl-tablet {
      margin-bottom: @offset4;
    }

    @media @s-tablet {
      margin-bottom: @offset12;
    }
  }

  &__item-props {
    display: flex;

    @media @s-tablet {
      flex-direction: column;
    }
  }

  &__item-article {
    .p2();
    .f-column();
    color: @text-tertiary;
    min-width: 23%;
    justify-content: center;
    padding-right: @offset16;

    @media @s-tablet {
      order: -2;
      padding-right: 0;
      min-width: 0;
      margin-bottom: @offset8;
    }
  }

  &__item-time {
    .f-column(2);
    .p2();
    border-left: 1px solid @border-primary;
    justify-content: center;
    flex: 1 1;
    max-width: 30%;
    padding-inline: @offset16;

    @media @xxl-tablet {
      .p3();
      padding-inline: @offset12;
    }

    @media @s-tablet {
      max-width: 100%;
      border-left: none;
      padding-inline: 0;
      margin-bottom: @offset16;
    }
  }

  &__item-time-descr {
    .p3();
    color: @text-tertiary;
  }

  &__item-tractor-name {
    .p2();
    .f-column();
    justify-content: center;
    border-left: 1px solid @border-primary;
    flex: 1 1;
    max-width: 30%;
    padding-left: @offset16;

    @media @xxl-tablet {
      .p3();
      padding-inline: @offset12;
    }

    @media @s-tablet {
      border-left: none;
      max-width: 100%;
      order: -1;
      margin-bottom: @offset8;
      padding-left: 0;
    }
  }

  &__item-price-shell {
    display: flex;
    flex: none;

    @media @xxl-tablet {
      flex-direction: column;
      gap: @offset4;
    }

    @media @s-tablet {
      gap: @offset8;
      margin-bottom: @offset24;
    }
  }

  &__item-price {
    .f-column(4);
    .p3();
    color: @text-secondary;
    flex: 0 1;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    min-width: max-content;
    padding-inline: @offset10;

    @media @s-tablet {
      min-width: 0;
      flex-direction: row;
      justify-content: space-between;
      padding-inline: 0;
    }
  }

  &__item-price-value {
    .p2();
    color: @black;
  }

  &__item-add-to-cart {
    .width-height(48, 48);
    .f-center(8);
    background-color: @bg-tertiary;
    color: @icon-brand;
    margin-left: 42px;
    position: relative;
    z-index: 2;

    @media @s-tablet {
      .radius(22);
      .Jeko();
      font-weight: 600;
      width: max-content;
      height: 44px;
      margin-left: 0;
      padding: @offset12;
    }

    .catalog-results__item[data-condition="del"] & {
      display: none;
    }

    .catalog-results__item[data-condition="add"] & {

    }

    &--absolute {
      .catalog-results__item[data-condition="add"] &, & {
        .btn-reset();
        background-color: transparent;
        position: absolute;
        inset: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
      }
    }
  }

  &__item-del-from-cart {
    display: none;

    .catalog-results__item[data-condition="add"] & {
      display: none;
    }

    .catalog-results__item[data-condition="del"] & {
      .smooth-show(flex);
      align-self: center;
      width: max-content;
      height: 44px;
      position: relative;
      z-index: 2;

      @media @s-tablet {
        align-self: flex-start;
      }
    }

    &--absolute {
      .catalog-results__item[data-condition="del"] &, & {
        .btn-reset();
        background-color: transparent;
        position: absolute;
        inset: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
      }
    }
  }

  &__pagination {
    display: none;

    .catalog__results.pagination-show & {
      display: block;
    }

    @media @s-tablet {
      display: none;
    }
  }

  &__show-more-btn {
    display: none;

    @media @s-tablet {
      display: flex;
      width: 100%;
    }

    &.hide {
      display: none;
    }
  }
}