@import "descriptions";

.table {
  padding-block: @offset50;

  @media @tablet {
    padding-block: @offset40;
  }

  &__row {
    border-bottom: 1px solid @border-primary;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: @offset64;
    padding: @offset16 @offset24;

    @media @s-tablet {
      grid-template-columns: 1fr;
      gap: @offset16;
      padding: @offset20 0;
    }

    &:last-child {
      border: none;
    }

    .table__row:first-child & {
      padding-top: 0;
    }

    .table__row:last-child & {
      padding-bottom: 0;
    }
  }

  &__row-data {
    display: flex;
    flex-direction: column;

    & * {
      display: block;
      max-width: max-content;
    }

    a {
      .Inter();
      font-weight: 500;
    }
  }

  &__row-data-content {
    .f-column(24);
  }

  h3 {
    .h6();
  }

  a {
    .h7();
    .accessibility-link();
    .Inter();
    font-weight: 600;
  }

  p {
    .p1();
    color: @text-secondary;
  }

  b {
    font-weight: 500;
  }
}