@import "descriptions";

.detail {
  width: 100%;

  &__aside-shell {
    .detail__shell--with-slider & {
      grid-area: aside;
    }
  }

  &__aside {
    .f-column();
    align-items: flex-start;
    min-width: 226px;
    position: sticky;
    top: 80px;

    @media @tablet {
      position: static;
    }

    .years-slider__slide & {
      max-width: 226px;
    }
  }

  &__aside-title {
    .p3();
    color: @text-tertiary;
    font-weight: 600;
    margin-bottom: @offset16;
  }

  &__aside-date {
    .h4();
  }

  &__aside-phone {
    .detail a&, .detail & {
      .h5();
      font-weight: 600;
      margin-bottom: @offset24;
    }
  }

  &__aside-mail {
  }

  &__body {
    max-width: 940px;
    margin-inline: auto;

    @media @tablet {
      max-width: 100%;
      padding-right: 0;
    }
  }

  &__body, & {
    h2, h3, h4, h5, h6 {
      margin-block: @offset64 @offset32;

      @media @tablet {
        margin-block: @offset40 @offset24;
      }

      &:first-child {
        margin-top: 0;
      }
    }

    h1 {
      .h3();
      color: @text-brand;
      margin-bottom: @offset64;

      @media @tablet {
        margin-bottom: @offset40;
      }
    }

    h2 {
      .h4();
    }

    h3 {
      .h5();
    }

    h4 {
      .h6();
    }

    ol, ul {
      .f-column(16);
      margin-top: @offset32;

      @media @tablet {
        margin-top: @offset24;
      }

      &:first-child, li & {
        margin-top: 0
      }

      li {
      }
    }

    ol {
      counter-reset: listitems;

      li {
        position: relative;
        padding-left: @offset20;

        &::before {
          position: absolute;
          left: 0;
          top: 0;
          content: counter(listitems) '. ';
          counter-increment: listitems;
        }
      }
    }

    ul {
      li {
        position: relative;
        padding-left: @offset24;

        &::before {
          content: '•';
          position: absolute;
          top: 0;
          left: 8px;
        }
      }
    }

    .float-shell {
      &::after {
        display: block;
        content: '';
        clear: both;
      }
    }

    p, b, i, q, table, .float-shell {
      margin-top: @offset32;

      @media @tablet {
        margin-top: @offset24;
      }

      &:first-child {
        margin-top: 0;
      }
    }

    table {
      margin-bottom: @offset32;

      @media @tablet {
        margin-bottom: @offset24;
      }

      &:last-child {
        margin-bottom: 0;
      }
    }

    q {
      background: @bg-secondary;
      border-left: 4px solid @border-brand;
      display: block;
      padding: @offset24 @offset24 @offset24 @offset20;

      @media @tablet {
        padding: @offset16 @offset16 @offset16 @offset12;
      }

      &::before, &::after {
        content: none;
      }
    }

    i {
      display: block;
    }

    img {
      margin-top: @offset64;

      @media @tablet {
        margin-top: @offset40;
      }

      &:first-child {
        margin-top: 0;
      }
    }

    .img-shell {
      column-count: 2;
      break-inside: avoid;
      gap: @offset12;
      margin-top: @offset64;

      @media @s-tablet {
        display: grid;
        grid-template-columns: 1fr;
        gap: 4px;
        margin-top: @offset40;
      }

      &:first-child {
        margin-top: 0;
      }

      & img {
        margin-block: 0 @offset12;
      }
    }

    .img-with-float {
      width: 40%;
      float: left;
      margin-top: @offset32;
      margin-right: @offset12;

      @media @tablet {
        width: 100%;
        float: none;
        margin-top: @offset40;
        margin-right: 0;
      }
    }

    .img-with-float-right {
      width: 40%;
      float: right;
      margin-top: @offset32;
      margin-left: @offset12;

      @media @tablet {
        width: 100%;
        float: none;
        margin-top: @offset40;
        margin-left: 0;
      }
    }

    table {
      width: 100%;

      thead {
        tr {
          td {

            background-color: @bg-brand;
            color: @white;
            border: 1px solid @grey-250;
            text-align: center;
            font-weight: bold;
            padding: 12px 6px;
          }
        }
      }

      tbody {
        tr {
          td {
            border: 1px solid @grey-250;
            padding: 8px;

            &:last-child {
              text-align: center;
            }
          }

          &:nth-child(odd) {
            td {
              background-color: @grey-280;
            }
          }

          &:nth-child(even) {
            td {
              background-color: @grey-250;
            }
          }
        }
      }
    }
  }

  &__body {
    a {
      .accessibility-link();
      .p1();
      color: @text-brand;

      &:hover {
        text-decoration: underline;
      }
    }

    b a {
      font-weight: 700;
    }
  }
}


