@import "descriptions";

.about {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: @offset12;

  @media @s-tablet {
    grid-template-columns: 1fr;
    gap: @offset40;
  }

  &__picture-shell {
    background-color: @bg-secondary;
    align-self: flex-start;
    position: sticky;
    top: 120px;
    padding: @offset24;

    @media @s-tablet {
      position: static;
    }
  }

  &__picture {
    .aspect-ratio(596, 366);
    max-width: 80%;
    margin: auto;
  }

  &__picture-tag {
    .p3();
    .radius();
    background-color: @bg-brand;
    color: @white;
    font-weight: 600;
    width: max-content;
    margin-left: auto;
    padding: @offset8 @offset16;

    @media @s-tablet {
      display: none;
    }
  }

  &__text-shell {
    .f-column(24);
    padding: @offset24;

    @media @tablet {
      padding: @offset12;
    }

    @media @s-tablet {
      padding: 0;
    }
  }

  &__title {
    .h4();
  }

  &__subtitle {
    color: @text-secondary;
  }

  &__descr-list {
    .f-column(8);
    padding-left: 14px;
  }

  &__descr-item {
    .p1();
    display: flex;
    gap: 4px;
    position: relative;

    &::before {
      color: @text-secondary;
      content: '•';
      position: relative;
      left: -4px;
    }

    dt {
      color: @text-secondary;
      font-weight: 500;
    }

    dd {
      font-weight: 600;
    }
  }

  &__btn {
    width: max-content;
    margin-top: auto;

    @media @s-tablet {
      width: 100%;
      margin-top: @offset16;
    }
  }
}