@import "descriptions";

.top-links {
  display: grid;
  grid-template-columns: 41% 1fr 1fr;
  gap: @offset12;

  @media @tablet {
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: '. .'
                         'last last';
  }

  @media @s-tablet {
    .f-column(12);
  }

  &__block {
    .transition(background-color);
    .transition(scale);
    display: flex;
    justify-content: space-between;
    gap: @offset12;
    border: 1px solid @border-primary;
    padding: @offset16;

    @media @s-tablet {
      background-color: @bg-secondary;
      border: none;
      padding-inline: @offset12;
    }

    &:last-child {
      @media @tablet {
        grid-area: last;
      }
    }

    &:hover {
      @media @large-than-tablet {
        background-color: @bg-secondary;
        scale: 1.01;
      }
    }

    &--with-pic {
      gap: @offset24;

      @media @s-tablet {
        .f-column(12);
        background-color: @bg-primary;
        border: 1px solid @border-primary;
      }
    }
  }

  &__picture-shell {
    max-width: 120px;
    width: 100%;
    flex: none;

    @media @l-tablet {
      max-width: 100px;
    }

    @media @tablet {
      max-width: 90px;
    }

    @media @s-tablet {
      max-width: 100%;
    }
  }

  &__picture {
    .aspect-ratio(124, 124);

    @media @s-tablet {
      .aspect-ratio(319, 212);
    }
  }

  &__text-shell {
    .f-column();
  }

  &__text-title {
    .h7();
    font-weight: 700;
    margin-bottom: @offset12;

    @media @s-tablet {
      margin-bottom: @offset12;
    }
  }

  &__text-descr {
    .p2();
    color: @text-secondary;
    margin-bottom: @offset32;
  }

  &__text-link {
    .h9();
    color: @text-brand;
    display: flex;
    align-items: center;
    gap: @offset8;
    font-weight: 700;
    margin-top: auto;
  }

  &__icon-shell {
    .square(48);
    .f-center();
    background-color: @bg-tertiary;
    color: @blue-500;
    flex: none;

    @media @s-tablet {
      .square(36);
      background-color: @bg-primary;
    }
  }
}
