@import "descriptions";

.years {
  &__shell {
    @media @tablet {
      width: 100%;
    }
  }

  &__slider-nav {
    margin-top: 50px;

    @media @tablet {
      display: none;
    }
  }

  &__slider-nav-btns {
    width: max-content;
    margin-left: auto;
  }
}